* {
    font-family: sans-serif;
}

.dataBox {
    border: 2px solid black;
}

.summary {
    margin-left: 3px;
}

.extraInfo {
    font-size: smaller;
}

.extraSummary {
    margin-left: 20px;
    font-size: 14px;
}

.clickable {
    cursor: pointer;
}